/*Reset: enlève les styles par défaut du navigateur*/
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Avec ce code le Footer reste en bas avec ou sans contenu  */
html{
  height: 100%;
}

body {
  font-family: "Favorite Font", sans-serif;
  position: relative;
  min-height: 100%;
  padding-bottom: 6.74rem;
  background-color: #121212 !important;
}

footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 30px;
}